body {
    background-color: rgb(0, 0, 0);
}

title{
    color: white;
    font-family: 'Merriweather', serif;

}

h1{
    color: white;
    font-family: 'Merriweather', serif;
}

h3{
    color: white;
    font-family: 'Luxurious Roman', cursive;
}

p{
    color: white;
}